
# var message = $("#message_message").val();
# var nickname = "<%#= @nickname %>";
# $("#chat").append("<li><span>" + nickname +  ":</span><span>" + message + "</span></li>");
# $("#message_message").val('')